<h1>Your new trip:</h1>

<form action="/trips" method="POST">
  <p>Trip Name: <input type="text" name="trip[name]" required></p>
  <p>Location: <input type="text" name="trip[location]"></p>
  <p>Start Date: <input type="date" name="trip[start_date]"></p>
  <p>End Date: <input type="date" name="trip[end_date]"></p>
  <p>Attendees: <input type="text" name="trip[attendees]"></p>
  <p>Transporation Method: <input type="text" name="trip[transportation]"></p>
  <input type="submit" id="Submit" value="Create Trip">
</form>
