<head>
    <title>Trip Organizer by MK</title>
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>
<body>
    <h3 style="padding: 5px 20px;">Your new activity:</h3>
    <form style="padding: 0px 20px;" action="/activities" method="POST">
        <p>Trip Name: <select name="activity[trip_id]" required> <%@trips.each do |trip|%>
            <option value="<%=trip.id%>" id="<%=trip.id%>"><%=trip.name%></option>
            <%end%></select></p>
        <p>Activity Name: <input type="text" name="activity[name]" required></p>
        <p>Location: <input type="text" name="activity[location]"></p>
        <p>Address: <input type="text" name="activity[address]"></p>
        <p>Day: <input type="date" name="activity[day]"></p>
        <p>Duration (Hours): <input type="number" name="activity[duration]"></p>
        <p>Attendees: <input type="text" name="activity[attendees]"></p>
        <p>Transporation Method: <input type="text" name="activity[transportation]"></p>
        <input type="submit" id="Submit" value="Create Activity">
    </form>
</body>
