<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" type = "text/css" href="index.css" /> -->
      <title>Trip Organizer by MK</title>
      <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 </head>
 <body>
    <h1 class="title" style="padding: 20px;">Welcome to Your Trip Organizer</h1>
    <h4 class="subheader" style="padding: 20px;" >Here you can create and manage your trip itineraries by creating new trips and a list of activities you plan to do on each trip. To get started create an account or login below.</h4>

    <h5 style="padding: 20px;"><a href="/signup">Sign Up</a> or <a href="/login">Login</a></h5>
  </body>
</html>
