<!DOCTYPE html>
<html lang="en">
<head>
      <title>Trip Organizer by MK</title>
      <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 </head>
 <body>
    <h1 class="header">Welcome to Your Trip Organizer</div>
    <h4 class="subheader">Here you can create and manage your trip itineraries by creating new trips and a list of activities you plan to do on each trip. To get started create an account or login below.</h4>

    <h5><a href="/signup">Sign Up</a> or <a href="/login">Login</a></h5>
  </body>
</html>
