<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Trip Organizer by MK</title>
        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </head>

   <body>
      <h3>Welcome back to Trip Organizer!</h3>
      <h5>Login Here:</h5>
      <form method="POST" action="/login">
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="text" name="password"></p>
            <input type="submit" id="Submit" value="Login">
      </form>
    </body>
  </html>
