<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Trip Organizer by MK</title>
        <!-- Compiled and minified CSS -->
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <!-- Compiled and minified JavaScript -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   </head>

   <body>
      <h3>Welcome to Trip Organizer!</h3>
      <h5>Sign Up Here:</h5>
      <form method="POST" action="/signup">
            <p>Email: <input type="text" name="email" required></p>
            <p>Password: <input type="password" name="password" required></p>
            <input type="submit" id="Submit" value="Create Account">
      </form>
    </body>
  </html>
